@import '../common';

.LinkGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax($grid-row, 1fr));
  grid-gap: 2 * $unit;
  grid-auto-rows: minmax($grid-row, auto);
  grid-auto-flow: dense;
}
