$unit: 5px;
$grid-row: 200px;

@mixin fullpage {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  padding: 5 * $unit;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Roboto';
  src: url('../Assets/fonts/Roboto-Regular.woff2') format('woff2'),
    url('../Assets/fonts/Roboto-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Prosto One';
  src: url('../Assets/fonts/ProstoOne.woff2') format('woff2'),
    url('../Assets/fonts/ProstoOne.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
