@import 'common';

.App {
  text-align: center;
  font-family: Roboto;

  .Container {
    @include fullpage;

    display: grid;
    grid-template-rows: 1fr 2fr;
    align-items: end;
    padding-bottom: 9 * $unit;
  }
}
